.container {
    max-width: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 60px auto;
    padding: 40px;
    border-radius: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.header .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48;
    font-size: 48px;
  }

.header .logo {
    padding: 0 0 10px 0;
}

.header h1 {
    font-size: 32px;
    font-weight: 600;
}

.header p {
    font-size: 14px;
    color: #adadad;
}

.input span.material-symbols-outlined {
    margin: 0 16px 0 0;
}

.error span.material-symbols-outlined {
    margin: 0 16px 0 0;
}

.inputs .input span.material-symbols-outlined {
    color: #adadad;
}

.inputs .error span.material-symbols-outlined {
    color: #adadad;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.inputs .input {
    width: 100%;
    border: 1px solid #adadad;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    margin: 10px 0;
}

.inputs .error {
    width: 100%;
    border: 2px solid #eb5656;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    margin: 10px 0;
}

.inputs .error-msg {
    font-size: 14px;
    color: #eb5656;
    margin: 0 0 0 auto;
}

.inputs .input input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
}

.inputs .input input::-webkit-input-placeholder {
    color: #adadad;
}

.inputs .error input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
}

.inputs .forgot-password {
    font-size: 14px;
    color: #adadad;
    padding: 8px;
    margin: 0 auto 0 0;
}

.forgot-password span {
    color: #3972e3;
    cursor: pointer;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.button-container .submit {
    width: 250px;
    color: #eee;
    font-size: 16px;
    font-weight: 400;
    background-color: #3972e3;
    border: none;
    border-radius: 6px;
    padding: 12px 16px;
    cursor: pointer;
}

.no-account {
    font-size: 14px;
    color: #adadad;
    padding: 8px;
    margin: 20px auto;
}

.no-account span {
    color: #3972e3;
    cursor: pointer;
}